    [[profiles.apps]]
    icon_png_path = 'https://games-on-whales.github.io/wildlife/apps/xfce/assets/icon.png'
    title = 'swayingwolfs'

        [profiles.apps.runner]
        base_create_json = '''{
  "HostConfig": {
    "IpcMode": "host",
    "Privileged": true,
    "CapAdd": ["SYS_ADMIN", "SYS_NICE", "SYS_PTRACE", "NET_RAW", "MKNOD", "NET_ADMIN"],
    "SecurityOpt": ["seccomp=unconfined", "apparmor=unconfined"],
    "DeviceCgroupRules": ["c 13:* rmw", "c 244:* rmw"]
  }
}
'''
        devices = []
        env = [ 'GOW_REQUIRED_DEVICES=/dev/input/* /dev/dri/* /dev/nvidia* /dev/fuse' ]
        image = 'ghcr.io/sebithecoder2904/swayingwolfs:latest'
        mounts = []
        name = 'swayingwolfs'
        ports = []
        type = 'docker'
